*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --background: rgb(253, 234, 215);
    --color-brown: rgb(251, 173, 59);
}

::selection {
    background-color: black;
    color: var(--color-brown);
}

body {
    margin: 0 auto;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 36px;
    line-height: 1.2;

    background-color: var(--background);
    background-image: url("../img/catalog/background-text.png");
    background-size: 100px 100px;
    background-attachment: fixed;

    position: relative;
}

@media (min-width: 1024px) {
    body {
        margin: 0 100px 50px;
    }
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    margin: 0 20px;
}

.catalog-header {
    width: 100%;
    margin: 0;
    padding: 5px 20px;

    box-shadow: 0 0 15px 1px var(--color-brown);

    position: fixed;

    background-color: var(--background);
    
    z-index: 5;
}

@media (min-width: 768px) {
    .catalog-header {
        position: static;
    }
}

@media (min-width: 1024px) {
    .catalog-header {
        width: calc(100% + 200px);
        margin-left: -100px;
    }
}

.catalog-header__wrapper {
    display: flex;
    justify-content: start;
    align-items: center;

    position: relative;
}

@media (min-width: 768px) {
    .catalog-header__wrapper {
        height: unset;
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    .catalog-header__wrapper {
        justify-content: center;
    }
}

.catalog-header__button {
    width: 50px;
    height: 50px;

    background-color: transparent;
    border: none;

    display: block;
    padding: 0;
}

.catalog-header__button--cross {
    display: none;
}

.catalog-header.opened .catalog-header__button--default {
    display: none;
}

.catalog-header.opened .catalog-header__button--cross {
    display: inline;
}

@media (min-width: 768px) {
    .catalog-header__button {
        display: none;
    }
}

.catalog-header__logo {
    display: flex;
    justify-content: center;

    padding-right: 40px;

    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .catalog-header__logo {
        position: absolute;
        z-index: 5;

        width: 40px;

        top: 50%;
        left: 3%;

        transform: translateY(-50%);
    }
}

@media (min-width: 1024px) {
    .catalog-header__logo {
        left: calc(50% - 380px);
    }
}

@media (min-width: 1280px) {
    .catalog-header__logo {
        left: calc(50% - 525px);
    }
}

.catalog-header__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: none;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    left: -20px;
    top: 50px;

    width: calc(100% + 40px);
}

.catalog-header.opened .catalog-header__list {
    display: flex;
}

@media (min-width: 768px) {
    .catalog-header__list {
        display: flex;
        position: static;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        max-width: 700px;
    }
}

@media (min-width: 1280px) {
    .catalog-header__list {
        max-width: 1000px;
    }
}

.catalog-header__item {
    position: relative;
}

.catalog-header__link {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;

    color: black;
    background-color: var(--background);

    display: block;
    padding: 10px 20px;
    width: 100%;

    border-bottom: 1px solid var(--color-brown);

    transition: background-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.catalog-header__link:hover {
    background-color: var(--color-brown);
    color: var(--background);
}

@media (min-width: 768px) {
    .catalog-header__link {
        border: none;
    }
}

.catalog-header__sublist {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.catalog-header.opened .catalog-header__sublist {
    display: flex;
}

@media (min-width: 768px) {
    .popover {
        position: absolute;
        top: 100%;

        display: none;

        z-index: 5;
    }
}

@media (min-width: 768px) {
    .popover__wrapper {
        width: 300px;
    }
}

@media (min-width: 768px) {
    .catalog-header__item:hover .popover,
    .catalog-header__item:focus-within .popover {
        display: block;
    }
}

@media (min-width: 768px) {
    .catalog-header__sublist {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        z-index: 5;

        border: 1px solid black;

        max-width: 700px;
    }

}

@media (min-width: 1280px) {
    .catalog-header__sublist {
        max-width: 1000px;
    }
}

@media (min-width: 768px) {
    .catalog-header__subitem:not(:last-child) {
        border-bottom: 1px solid black;
    }
}

.catalog-header__sublink {
    font-size: 18px;
    font-weight: 500;
}

.catalog-header__link--current {
    background-color: black;
    color: var(--background);
}

.main {
    padding: 70px 0 0;
}

@media (min-width: 768px) {
    .main {
        padding: 20px 0 0;
    }
}

.catalog__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    position: relative;

    display: grid;
    justify-content: center;
    grid-template-columns: 100%;
    grid-gap: 15px;
}

@media (min-width: 500px) {
    .catalog__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 600px) {
    .catalog__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 768px) {
    .catalog__list {
        grid-template-columns: repeat(3, 200px);
    }
}

@media (min-width: 1024px) {
    .catalog__list {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        
        max-width: 800px;

        margin: 0 auto;
    }
}

@media (min-width: 1280px) {
    .catalog__list {
        max-width: 1100px;
    }
}

.catalog__item {
    background-color: rgba(192, 186, 170, 0.744);
    border: none;

    cursor: pointer;

    padding: 0;

    font-family: inherit;

    position: relative;

    min-width: 150px;
    min-height: 150px;

    display: flex;
    align-items: center;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    transition: box-shadow 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.catalog__item:hover {
    box-shadow: 0 0 5px 5px var(--color-brown);
}

.catalog__item:focus-visible {
    outline: 2px solid grey;
    outline-offset: 2px;
}    

.catalog__preimage {
    width: 100%;
    height: auto;
}

.item__content {
    display: none;
    z-index: 10;
    overflow-x: hidden;

    position: fixed;
    top: 5vh;
    left: 50%;

    transform: translateX(-50%);

    width: calc(100% - 40px);
    max-width: 430px;
    max-height: 90vh;

    margin: 0 auto;
    padding: 35px 40px 20px;

    background-color: var(--background);

    box-shadow: 0 0 50px 5000px rgba(0, 0, 0, 0.477);

    transition: 0.3s display cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow-y: auto;
}

@media (min-width: 768px) {
    .item__content {
        grid-template-columns: auto 1fr;
        grid-gap: 60px;

        max-width: 750px;
    }
}

@media (min-width: 1024px) {
    .item__content {
        grid-template-columns: 1fr auto;
        max-width: 1000px;
    }
}

@media (min-width: 1280px) {
    .item__content {
        max-width: 1200px;
    }
}

.catalog__item.opened .item__content {
    display: block;
}

@media (min-width: 768px) {
    .catalog__item.opened .item__content {
        display: grid;
    }
}

.item__close-button {
    position: absolute;

    border: none;
    background-color: transparent;

    top: 2px;
    right: -1px;

    cursor: pointer;
}

.item__images {
    margin: -35px -40px 10px;

    width: calc(100% + 80px);

    display: flex;
    justify-content: center;
    align-items: start;
}

@media (min-width: 768px) {
    .item__images {
        margin: 0 auto;
        width: unset;
    }
}

.images-slider {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .images-slider {
        max-width: 300px;
        height: auto;
    }
}

@media (min-width: 1024px) {
    .images-slider {
        max-width: unset;
    }
}

.images-slider__wrapper {
    position: relative;

    margin: 0 0 10px;
}

.images-slider__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    width: 100%;
    height: 100%;
}

.images-slider__item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.images-slider__image {
    display: block;
    width: 100%;
    height: 100%;
    
    object-fit: contain;
}

.images-slider__button {
    position: absolute;
    padding: 0;

    top: 50%;

    border: none;
    background-color: transparent;

    cursor: pointer;
}

.images-slider__button--prev {
    transform: translateY(-50%) rotate(-90deg);
    left: 0;
}

@media (min-width: 768px) {
    .images-slider__button--prev {
        left: -40px;
    }
}

.images-slider__button--next {
    transform: translateY(-50%) rotate(90deg);
    right: 0;
}

@media (min-width: 768px) {
    .images-slider__button--next {
        right: -40px;
    }
}

.mini {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 4px;

    margin: 0 auto;
    padding: 0 40px;
    list-style-type: none;

    max-width: 336px;
}

@media (min-width: 768px) {
    .mini {
        padding: 0;
        max-width: 260px;
    }
}

@media (min-width: 1024px) {
    .mini {
        max-width: unset;

        grid-template-columns: repeat(12, 1fr);
    }
}

.mini__button {
    background-color: transparent;
    border: 1px solid black;

    display: block;
    padding: 0;
}

.mini__image {
    width: 38px;
    height: 38px;
}

.item__image {
    margin: 0 0 10px;

    width: 200px;
    height: 200px;
}

@media (min-width: 768px) {
    .item__image {
        margin: 0 0 20px;

        width: 300px;
        height: 300px;
    }
}

.item__text {
    padding: 0;

    text-align: left;
}

@media (min-width: 1024px) {
    .item__text {
        max-width: 380px;
    }
}

@media (min-width: 1280px) {
    .item__text {
        max-width: 450px;
    }
}

.text {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.text__list {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
}

.text__list--details {
    gap: 2px;
}

.text__item {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    
    font-size: 16px;
}

@media (min-width: 1280px) {
    .text__item {
        font-size: 20px;
    }
}

.text__title {
    font-weight: 700;
    max-width: 196px;
}

@media (min-width: 1280px) {
    .text__title {
        max-width: 245px;
    }
}

.text__description {
    margin: 0;
}

.up-button {
    display: none;
    justify-content: center;
    align-items: center;

    position: fixed;
    width: 40px;
    height: 40px;

    border-radius: 50%;
    border: 1px solid var(--color-brown);

    background-color: white;

    top: 80vh;
    right: 3vh;

    cursor: pointer;
}

.up-button.active {
    display: flex;
}

.up-button:hover {
    background-color: black;
    color: var(--background);

    border: transparent;
}